.App {
  max-width: 80%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
}

.announcementCard {
  text-align: left;
  margin-bottom: 50px;
  color: '#444444';
}

