.App {
  max-width: 80%;
  margin: auto;
}

.container {
  display: flex;
}



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5%;
}

.navLinks {
  display: flex;
}


.navLinks a {
  color: grey;
  text-decoration: none;
  margin-right: 20px;
}

.navButton {
  display: flex;
}

.announcementCard {
  text-align: left;
  margin-bottom: 50px;
  color: '#444444';
}

