.App {
  max-width: 80%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.hero {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.hero_item {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5%;
}

.signOut{
  display: flex;
  align-items: center;
}

.signOut a {
  text-decoration: none;
  color: grey;
}

.navLinks {
  display: flex;
}

.navLinks a {
  padding-right: 10px;
  text-decoration: none;
}

.navButton {
  display: flex;
}

.announcementCard {
  text-align: left;
  margin-bottom: 50px;
  color: '#444444';
}

